<div class="container" >
    <h1 style="text-align: center ; margin-top : 7% ">Không có câu hỏi nào cả :(</h1>

    <div style="text-align: center ">
    <a href="/ask" type="button" class="btn btn-default">Hỏi đê</a>
    </div>
</div>