<div class="container" style="margin-top:5%">
    <h1 style="text-align: center">{{question}}</h1>
    <h2 style="text-align: center ; padding-top : 5%">{{total}} vote</h2>
    <div class="progress" style="height : 35px ">
        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50"
        aria-valuemin="0" aria-valuemax="100" style="width:{{percentY}}% ;padding:8px; font-size: 18px">
         {{percentY}}%
         </div>
    </div>
    <div style="text-align: center ; padding-top:3%">
    <a href="/"  class="btn btn-success" role="button" style="padding: 10px; font-size: 18px">Xem câu hỏi khác</a>
    </div>
</div>
    
