.main {
  margin-left: 13%;
  margin-right: 13%;
  font-family: Arial, Helvetica, sans-serif;
  
}

.header {
  margin-top: 5%;
}

.col {
  width: 100%;
  margin-bottom: 2%;
}
.has-feedback{
  display: flex;
  align-items: center;
  flex-direction: column;
}


.button {
  width: 180px;
  height: 40px;
  background-color: #BF1363;
  border: none;
  color: #ffff;
  transition: 0.2s ease-in-out;
  outline: none;
}
.button:hover{
  color: #ffff;
  box-shadow: 0 0 5px #000000;
}


.td{
  background-color: #BF1363;
}

.input{
  width: 60px ; border-radius: 5px;
  outline:none;
  
  text-align: center;
}
.input:hover{
  box-shadow: 0 0 1px #000000;
}

.player_input{
  animation: fade-in 0.5s ease-in-out;
}

@keyframes fade-in {
  from {opacity: 0;}
  to {opacity: 1;}
}