<div class="container" id="ss">
    <h1 id="questionAJAX" style="text-align: center ; margin-top : 7% ; padding-bottom: 5%">{{question}}</h1>
    <form action="/ques/{{link}}" method="post" id="form" name="answer" class="form-group"  >
        <input type="hidden" value="{{k}}" name="ss" id ="ssid">
        <button type="submit" id="bossno" name="no" value="no" class="btn btn-danger" style="margin-left : 22% ; float : left ; width: 16% ;height: 50px; font-size: 18px">
            <span class="glyphicon glyphicon-thumbs-down"></span>&nbspSai/Không/Trái</button>
        <button type="submit" id="bossyes" name="yes" value="yes" class="btn btn-primary" style="margin-right : 22% ; float : right ; width: 16%;height: 50px; font-size: 18px">
            <span class="glyphicon glyphicon-thumbs-up"></span> &nbspĐúng/Có/Phải</button>
    </form>
    <div style="text-align: center ; margin-top: 10%">
        <a href="/question/{{link}}" id="ss3" type="button" class="btn btn-default">Kết Quả Vote</a>
        <button onclick="ajaxs()" class="btn btn-default">Câu hỏi Khác</button>
    </div>
</div>
<script>
   
    function ajaxs() {




        $.ajax({
            url: '/',
            method: "post",
            success: function (response) {
                console.log("ok");
                $("#questionAJAX").html("" + response.question.questionContent);
                
                 $("#form").attr('action', "/ques/"+response.question._id);
                 $("#ssid").attr('value', response.id);
                 //$("#ss3").attr('href', "/question/"+response.question._id));
                //console.log(response.question._id)
            }
        })

    }
</script>