<div class="container" style="margin-top :5% ; margin-left :5%">
<h1> Ask me </h1>
<form method="post" action="/ask">
<textarea name="question"  cols="100" rows="10"></textarea>
<br>
<button class = "btn-success"type="Sumbit">Send</button>
</form>
</div>